
<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
     <!-- main banner -->
     <div class="card border-success mb-3" style="width: 100%;">
        <div class="card-header"><h1>Contact Information</h1></div>
        <div class="card-body text-success">
          <h3 class="card-title">Name: Siddharth Dureja</h3>
          <h3 class="card-text">ph.no: (437) 263-5438.</h3>
          <h3 class="card-text">Email: siddharth.dureja12@gmail.com</h3>
          <h3 class="card-text">LinkedIn: https://www.linkedin.com/in/siddharth-dureja-8b31b228/</h3>
        </div>
    </div>
<h1> OR - SHARE INFO</h1>
<form>
  <div class="row" style="margin-bottom: 1em;">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
  <div class="row" style="margin-bottom: 1em;">
    <div class="col">
      <input type="text" class="form-control" placeholder="Email">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Phone Number">
    </div>
  </div>
  <div class="row" style="margin-bottom: 1em;">
    <div class="col">
      <input type="text" class="form-control" placeholder="Message">
    </div>
    <div class="col">
      <a type="button" class="btn btn-success" href="/home">Submit</a>
    </div>
  </div>
</form>
  </div>
  </main>

  
  
  <!--script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>

