<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
     <!-- main banner -->
     <section class="bagimage_home" id="home" style="background-size:cover"> <!--added style to remove server error-->
      <div class="container-fluid">
          <div class="row" style="background-color: #e2d2b3;">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sidh-text">
              <h2 class="sidh_title">Hi, it's me Siddharth</h2>
              <p class="sidh_desc">Welcome to my Portfolio  <a type="button" class="btn btn-success" href="/about">About Me</a></p>
              
          </div>
          </div>
      </div>
  </section>
  </main>

  
  
  <!--script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>




