<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
     <!-- main banner -->
    <br>
     
    <div class="card-deck">

     <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/Content/images/SSP-Insurance-Platform-Social-Card.jpg" class="card-img" alt="...">
           <a href="https://www.ssp-worldwide.com/solutions/insurance-platform/"  style="font-size: 10px;" >#image curtacy:  SELECT INSURANCE</a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">SELECT INSURANCE</h5>
              <p class="card-text">Transform old screen generated in the back office to new screens supported latest
                browser .</p>
              <p class="card-text"><small class="text-muted">ROLE: Backend Development</small></p>
            </div>
          </div>
        </div>
      </div>
     
      <div class="card mb-1" style="max-width: 540px; margin-left: 700px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/Content/images/hsc.jpg" class="card-img" alt="...">
            <a href="https://www.hsc.com/"  style="font-size: 10px;" >#image curtacy: HUGHES SYSTIQUE</a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Dynamic Gateway Monitor </h5>
              <p class="card-text">atellite router monitoring system. It raises an alarm in case of mal functioning.</p>
              <p class="card-text"><small class="text-muted">ROLE: Backend Development</small></p>
            </div>
          </div>
        </div>
      </div>
      
      
      
        <div class="card mb-3 " style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/Content/images/actolap.png" class="card-img" alt="...">
              <a href="https://actolap.com/"  style="font-size: 10px; float:left" >#image curtacy: Actolap Solutions</a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">TWLY</h5>
                <p class="card-text">Twly was a twitter based social media app. It consumes the web services from
                  Twitter and provides unique experience to users.</p>
                <p class="card-text"><small class="text-muted">ROLE: Backend Development</small></p>
              </div>
            </div>
          </div>
     
    </div>
    </div>
  </main>

  
  
  <!--script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>




