<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
     <!-- main banner -->
    <br>
     
    <div class="card-deck">

      <div class="card mb-3" style="width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-2">
            <img src="/Content/images/java.svg" height="100px" class="card-img" alt="...">
           <a href="https://www.oracle.com/ca-en/java/"  style="font-size: 10px;" >#image curtacy:  SELECT INSURANCE</a>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Java</h5>
              <p class="card-text">Java is an object-oriented high level language that can be used to write the backend code of computer applications.
              </p>
              <p class="card-text"><small class="text-muted">Backend Development</small></p>
            </div>
          </div>
        </div>
      </div>

      
      <div class="card mb-3" style="width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-2">
            <img src="/Content/images/springboot.png" height="100px" class="card-img" alt="...">
           <a href="https://spring.io/projects/spring-boot"  style="font-size: 10px;" >#image curtacy:  Springboot</a>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Springboot</h5>
              <p class="card-text"> Springboot is a framework that can be use to write the backend application in a structured way.
              </p>
              <p class="card-text"><small class="text-muted">Backend Development</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-2">
            <img src="/Content/images/angular.png" height="100px" class="card-img" alt="...">
           <a href="https://angular.io/"  style="font-size: 10px;" >#image curtacy:  Angular</a>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text"> Angular is a javascript based framework that is used to wite the fronend applications
              </p>
              <p class="card-text"><small class="text-muted">Frontend Development</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-2">
            <img src="/Content/images/mongodb.png" height="100px" class="card-img" alt="...">
           <a href="https://angular.io/"  style="font-size: 10px;" >#image curtacy:  MongoDb</a>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">MongoDb</h5>
              <p class="card-text"> Mongodb is a big data database that is used to save the in the document format.
              </p>
              <p class="card-text"><small class="text-muted">Database Development</small></p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
     </div>
  </main>

  
  
  <!--script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>




